<%= form_with(model: post) do |form| %>
  <%= form.container_for :name, class: "field" do %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.error_for :name, class: "danger hide" %>
  <% end %>

  <%= form.container_for :age, class: "field" do %>
    <%= form.label :age %>
    <%= form.number_field :age %>
    <%= form.error_for :age, class: "danger hide" %>
  <% end %>

  <%= form.container_for :body, class: "field" do %>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <%= form.error_for :body, class: "danger hide" %>
  <% end %>

  <%= form.container_for :consent, class: "field" do %>
    <%= form.label :consent %>
    <%= form.check_box :consent %>
    <%= form.error_for :consent, class: "danger hide" %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
